body {
    width: 1240px;
}

.menu {
    display: flex;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.carousel-image {
    height: 300px;
    object-fit: cover;
}

.card {
    width: 30%;
}

.spacing {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #333;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}